.entry-header {
  display: none;
}

.border {
  border: 1px solid #eeeeee;
  border-top: var(--color-white);
}

.button__list {
  display: flex;
  justify-content: center;
  padding-top: 106px;
  padding-bottom: 50px;
  gap: 8px;
}

.button__filter {
  color: var(--tittle-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 24px;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover {
    background-color: var(--brand-color);
    color: var(--color-white);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.122),
      0px 1px 2px 0px rgba(0, 0, 0, 0.078), 0px 3px 1px 0px rgba(0, 0, 0, 0.102);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    background-color: var(--brand-color);
    color: var(--color-white);
  }
}

.gallery__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 84px;
}

.card-gallery__content {
  position: relative;
  overflow: hidden;
}

.gallery__block:hover .card-gallery__text {
  transform: translateY(-100%);
}

.card-gallery__text {
  transform: translateY(0);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-white;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 64px 24px;
  transition: transform 250ms ease;
}

.gallery__list > li > h3 {
  text-align: left;
  letter-spacing: 0.16em;
  font-weight: 700;
  line-height: 2;
  padding-top: 20px;
  padding-left: 24px;
}
.gallery__list > li > p {
  color: $letter-color;
  text-align: left;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.875;
  padding-left: 24px;
  padding-bottom: 20px;
}
.gallery__list > li {
  cursor: pointer;
  border: 1px solid #eeeeee;
}
.gallery__list > li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
